﻿@model DataModel.Login

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css">


    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/css/style.css?rd=@ViewBag.JSRefNo">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow ">
                    <div class="col-lg-6 mx-auto text-center">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo text-center">
                                <img src="~/assets/images/mahaexam-logo.png" alt="mahaexam logo">
                            </div>
                            <h2 class="text-white">Login</h2>

                            <form class="pt-3">
                                <div class="form-group">
                                    @Html.TextBoxFor(login => login.LoginId, htmlAttributes: new { @class = "form-control form-control-lg", @placeholder = "Login Id" })
                                    @Html.ValidationMessageFor(model => model.LoginId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(login => login.Password, htmlAttributes: new { @class = "form-control form-control-lg", @placeholder = "Password",@type="Password" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>


                                <div class="mt-3">
                                    <input type="submit" value="LOGIN" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" />
                                    @*<a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" href="index.aspx">LOGIN</a>*@
                                </div>
                                <div class="text-center mt-4 font-weight-light text-white">
                                    Already have an account? <a href="register.aspx" class="text-primary">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

        <!-- plugins:js -->
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/assets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>

    <!-- endinject -->

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</body>

</html>