﻿
@{
    ViewBag.Title = "PersonalNotes";
}

<div class="page-header">
    <h3 class="page-title">
        Personal Notes
    </h3>

</div>
<a href="#" class="btn btn-primary myformbtn">Personal Notes</a>
<!-- start add Fees form -->
<div class="row myform">

    <div class="col-md-6 grid-margin stretch-card m-auto">
        <div class="card box-shadow">
            <div class="card-body text-center">
                <a href="#" class="crossbtn btn btn-link btn-sm float-right">X</a>
                <h4 class="card-title"> Personal Notes</h4>
                <form class="forms-sample">

                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" placeholder="Enter Subject">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Enter Notes"></textarea>

                    </div>

                    <div class="form-group text-center m-0">
                        <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end add Fees form -->

<br /><br />
<br /><br />
<!-- start Student Details -->
<div class="row ">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card box-shadow">
            <div class="card-body text-center">
                <h4 class="card-title">Personal Notes</h4>

                <div id="accordion">
                    <div class="card text-left">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                What is Lorem Ipsum?
                            </a>
                            <a href="#" type="button" class="btn btn-sm  btn-danger float-right" title="Delet">
                                <i class="text-white mdi mdi-delete-circle-outline menu-icon"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm  btn-success float-right" title="Edit">
                                <i class="text-white mdi mdi-circle-edit-outline menu-icon "></i>
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </div>
                        </div>
                    </div>

                    <div class="card text-left">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                Where does it come from?
                            </a>
                            <a href="#" type="button" class="btn btn-sm  btn-danger float-right" title="Delet">
                                <i class="text-white mdi mdi-delete-circle-outline menu-icon"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm  btn-success float-right" title="Edit">
                                <i class="text-white mdi mdi-circle-edit-outline menu-icon "></i>
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </div>
                        </div>
                    </div>

                    <div class="card text-left">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                Why do we use it?
                            </a>
                            <a href="#" type="button" class="btn btn-sm  btn-danger float-right" title="Delet">
                                <i class="text-white mdi mdi-delete-circle-outline menu-icon"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm  btn-success float-right" title="Edit">
                                <i class="text-white mdi mdi-circle-edit-outline menu-icon "></i>
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end detail -->
