﻿@model DataModel.AnswerTypeMaster
@{
    ViewBag.Title = "AddAnswerType";
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row  myform">
        <div class="col-md-6 grid-margin stretch-card m-auto">
            <div class="card box-shadow">
                <div class="card-body text-center">
                    <a onclick="CloseForm();" class="crossbtn btn btn-link btn-sm float-right">X</a>
                    <h4 class="card-title">Add Answer Type</h4>
                    <div class="forms-sample">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.AnswerTypeId)
                        <div class="form-group">
                            @Html.EditorFor(model => model.AnswerType, new { htmlAttributes = new { @class = "form-control",  @placeholder = "Answer Type" } })
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", @placeholder = "Description" })
                        </div>
                        <div class="form-group text-center m-0">
                            <button type="submit" onclick="validate();" class="btn btn-gradient-primary mr-2">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
}


