﻿@model DataModel.AnswerMaster
@{
    /**/

    ViewBag.Title = "AddAnswer";
    Layout = null;
}
@using (Html.BeginForm("AddAnswers", "Exam"))
{
    @Html.AntiForgeryToken()
    <div class="row  myform">
        <div class="col-md-6 grid-margin stretch-card m-auto">
            <div class="card box-shadow">
                <div class="card-body text-center">
                    <a onclick="CloseForm();" class="crossbtn btn btn-link btn-sm float-right">X</a>
                    <h4 class="card-title">Add Answer Type</h4>
                    <div class="forms-sample">
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.CourseId, new SelectList(Model.ListCourse, "Value", "Text"), htmlAttributes: new { @class = "form-control", @id = "ddlCourse", @onchange = "bindQuestionDropdown()" })
                        </div>
                        <div class="form-group">
                            <select name="QuestionId" id="ddlQuestion" class="form-control"><option value="">Select Question</option></select>
                            @*@Html.DropDownListFor(model => model.QuestionId, null, htmlAttributes: new { @class = "form-control", @id = "ddlQuestion" })*@
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Answer" } })
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-danger">
                                    @Html.CheckBoxFor(model => model.IsRight, htmlAttributes: new { @class = "form-check-input" }) Is Right
                                </label>
                            </div>
                        </div>
                        <div class="form-group text-center m-0">
                            <button type="submit" onclick="validateAnswer();" class="btn btn-gradient-primary mr-2">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
}
